
# working files
.vim/viminfo
.vim/swaps/*
.vim/undo
.vim/.netrwhist

# git credential file 
.gitconfig.local

# secure not on git
.secret

# local machine-specific config (not shared)
.extra


# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# ctags
.tags*
